<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Transcription App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Generador de Partituras</h1>
      <form method="POST" enctype="multipart/form-data" action="/transcribir">
        <div class="form-group">
          <label for="youtube_url">Ingresa un enlace de YouTube:</label>
          <input
            type="text"
            id="youtube_url"
            name="youtube_url"
            placeholder="https://www.youtube.com/..."
          />
        </div>

        <div class="form-group">
          <label for="audio_file"
            >O carga un archivo de audio (MP3 o WAV):</label
          >
          <input type="file" id="audio_file" name="audio_file" />
        </div>

        <button type="submit">Procesar Canción</button>
      </form>
    </div>
  </body>
</html>
